<!DOCTYPE html>
<div class="container-fluid totalHeight">

	<div class="main-container">
		<div class="avatar"></div>
		<div class="form-box">
			<form novalidate name="login-form">
				<div class="form-group">
					<input class="loginEmail" ng-model="login.item.email" name="Email" type="text" placeholder="Email" ng-pattern="/^[_a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-z]{2,})$/" required>
				</div>
				<button class="btn actionButton" ng-click="login.loginUser(login.item)">Login</button>
				<p>
					<label class="labelColor">or create </label> <a class="linkButton" ui-sref="register">a new account</a></p>
			</form>
		</div>
	</div>

</div>