//IMPORT ORDER MATTERS IN THIS FILE, SO PLEASE BE CAREFUL TO LEAVE IT LIKE THIS:

//CUSTOM VARIABLES
@import "custom-styles/variables";

//BOOTSWATCH THEME VARIABLES
@import "variables";

//APPVERSE BOOTSTRAP THEME (FROM BOWER COMPONENTS)
@import "bootstrap-theme";

//BOOTSWATCH THEME
@import "theme";

//CUSTOM STYLES ADDED IN PARTIAL FILES
@import "custom-styles/partials";

html,body{
	background-image: url(../images/ethereum_background.png);
	//background-size: cover;
	//background-position:center;
	background-repeat: no-repeat;
	background-position: 50% 70%;
	//font-family: Avenir next;
	overflow: hidden;
}

.totalHeight{
    height: 100%;
}

/*  Navbar  */
.navbar-default .navbar-nav > li > a {
    color: rgb(46,54,78);
}

.navbar .navbar-nav > li.active a {
    border-top: 3px solid rgb(46,54,78);
    border-bottom: 0px;
    padding-bottom: 22px;
	color: rgb(46,54,78);
	line-height: 15px;
}

.navbar-nav > .active > a:focus {
    color: rgb(46,54,78) !important;
    background-color: transparent;
}

.navbar .navbar-nav > li > a:hover, .navbar-brand:hover {
    color: rgb(46,54,78) !important;
}

.navbar .navbar-brand {
    margin: 0 50px !important;
}


/*  Main Container   */

.main-container{
    position: absolute;
    width: 600px;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;
    z-index: 99;
	border-radius: 6px;
}

.actionButton{
	background-color: rgb(46,54,78);
	border-color: rgb(46,54,78);
	padding: 6px 35px;
	border-radius: 100px;
	padding: 6px 50px;
    border-radius: 20px;
	margin-top: 7%;
	margin-bottom: 2%;
	color: #fff;
	text-transform: capitalize;
	font-weight: 300;
	outline: 0;
}

.btn:hover, .btn:focus, .btn:active, .btn.focus {
    background-color: rgb(50,50,100);
	border-color: rgb(46,54,78);
	outline: 0;
}

.linkButton{
	color: rgb(46,54,78);
}

.avatar{
    width: 150px;
    height: 90px;
    margin: 0px auto 40px;
    background-size: cover;
    background-image: url(../images/ethereum_logo_blue.png);
	text-align: center;
}

.form-box input{
    width: 70%;
    padding: 10px;
    height:40px;
    background: #fafafa;
    transition:0.2s ease-in-out;
}

.form-box input:focus{
    outline: 0;
}

.form-box input[type="text"]{
	border: none;
  	border-bottom: solid 1px rgb(46,54,78);
	background-color: white;
	color: rgb(46,54,78);
}

.form-box input[type="password"]{
    border: none;
  	border-bottom: solid 1px rgb(46,54,78);
	background-color: white;
	color: rgb(46,54,78);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgb(46,54,78);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgb(46,54,78);
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgb(46,54,78);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgb(46,54,78);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.labelColor{
	color: #999999;
	font-weight: 100;
}

.form-group {
     margin-bottom: 0; 
}

/* Input Icons */
.address{
    position: relative;
	margin-top: 4%;
}

.address .eye {
    right: 75px;
    position: absolute;
    top: 12px;
    cursor:pointer;
}

.validation{
	position: relative;
}

.validation .icon{
    left: 45px;
    position: absolute;
	font-size: 22px;
	&.valid{
		color: rgb(76,217,100);
	}
	&.invalid{
		color: rgb(248,92,91);
	}
}

/* Download mobile app image */
.download{
    font-size: 60px;
	text-decoration: none;
	color: rgb(46,54,78);
}

.download:hover,.download:focus{
    font-size: 60px;
	text-decoration: none;
	
}

/* Growl alerts */
.alert{
    border-radius: 4px;
}
.growl-container.growl-fixed.top-right {
    top: 75px;
    right: 15px;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}