<!DOCTYPE html>
<div class="container-fluid totalHeight">
	<div class="main-container">
		<div class="avatar"></div>
		<div class="form-box">
			<form novalidate name="registerForm">
				<div class="form-group validation">
				<input class="loginEmail" ng-model="register.item.email" name="email" type="text" placeholder="Email" ng-pattern="/^[_a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-z]{2,})$/" required>
					<span ng-show="registerForm.email.$dirty && registerForm.email.$invalid" class="glyphicon glyphicon-remove-sign invalid form-control-feedback icon" aria-hidden="true"></span>
					<span ng-show="registerForm.email.$valid" class="glyphicon glyphicon-ok-sign valid form-control-feedback icon" aria-hidden="true"></span>
				</div>
				<div class="address validation">
					<input ng-model="register.item.primaryAddress" type="{{register.inputType}}" placeholder="1º Address" ng-keyup="register.checkpass(register.item.address.length)" name="address" ng-pattern="/^0x[a-zA-Z0-9-]{40}$/" required>
					<span ng-if="register.showEye" class="glyphicon glyphicon-eye-open eye" ng-mousedown="register.passMouseDown()" ng-mouseup="register.passMouseUp()"></span>
					<span ng-show="registerForm.address.$dirty && registerForm.address.$invalid" class="glyphicon glyphicon-remove-sign invalid form-control-feedback icon" aria-hidden="true"></span>
					<span ng-show="registerForm.address.$valid" class="glyphicon glyphicon-ok-sign valid form-control-feedback icon" aria-hidden="true"></span>
				</div>
				<button class="btn actionButton" ng-click="registerForm.$valid && register.registerEmail(register.item)">Register</button>
				<p>
					<label class="labelColor">already have an account? </label><a class="linkButton" ui-sref="login">login here</a>
				</p>
			</form>
		</div>
		<div ng-if="register.download">
			<a ng-href="{{register.downloadUrl}}" target="_blank" class="glyphicon glyphicon-download download"></a>
			<p>Download Mobile App</p>
		</div>
	</div>

</div>
